.my-list{ 
    background-color: #328fa9;
    padding : 8px 24px; 
    width: 340px; 
    font-size: 45px;
    border: 1px solid #f28ecc; 
    box-shadow: 0 0 10px 2px #bdf2fe; 
    margin:auto; }
    ol{ margin:12px; }
     p{text-align: center; }